$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

.row {
  display: flex;
  flex-wrap: wrap;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: 100% / 12 * $i;
  }
}

@each $size in (xs, sm, md, lg, xl, xxl) {
  @media screen and (min-width: map-get($breakpoints, $size)) {
    @for $i from 1 through 12 {
      .col-#{$size}-#{$i} {
        width: 100% / 12 * $i;
      }
    }
  }
}
